@use "../../style/mixin.scss" as mixin;

.container {
  color: mixin.$colour-secondary;
  background-color: mixin.$colour-primary;
  font-size: 0.875em;
  font-weight: 400;
  border-radius: 1em;
  padding: 0.5em 1em;
}
