@use "../../style/mixin.scss" as mixin;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  padding: 30px 0;
  width: 90%;
  height: 4.25em;
}

.mainLogo {
  height: 70px;
  width: 210px;
  @include mixin.tablet {
    height: 45px;
    width: 145px;
  }
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 35px;
  width: 300px;
  gap: 60px;
  @include mixin.tablet {
    gap: 10px;
  }
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }

  @include mixin.tablet {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.active {
  text-decoration: underline;
}
