@use "../../style/mixin.scss" as mixin;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.875em auto;
  width: 90%;
}

.cardWrapper {
  display: grid;
  align-items: center;
  grid-row-gap: 1.25em;
  column-gap: 1.25em;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
  width: 100%;
  margin: 1.563em auto;
  background-color: mixin.$colour-tertiary;
  padding: 1.563em;
  border-radius: 1em;
  justify-items: center;

  @include mixin.tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 1.875em 0;
  }
}
