@use "../../style/mixin.scss" as mixin;

.card {
  position: relative;
  display: flex;
  justify-content: start;
  max-width: 18.75em;
  max-height: 18.75em;
  border-radius: 1em;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 1/1;
  @include mixin.tablet {
    width: 100%;
    max-width: unset;
    max-height: 15.625em;
    aspect-ratio: auto;
  }
}

.img {
  object-fit: cover;
  object-position: center;
  height: auto;
  filter: brightness(0.9) saturate(90%);
  @include mixin.tablet {
    width: 100%;
    object-fit: fill;
    height: auto;
  }
}

.textContainer {
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  width: 12.5em;
  padding: 0.625em 1.25em;
  overflow: hidden;
  filter: drop-shadow(0.063em 0.063em 0.313em #000);
}

.text {
  font-size: 1.125em;
  color: white;
}
