@use "../../style/mixin.scss" as mixin;

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 8.125em;
  gap: 0.625em;
}

.name {
  font-size: 1.125em;
  font-weight: 400;
  color: mixin.$colour-primary;
  text-align: end;
  margin: 0;
}

.picture {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  @include mixin.tablet {
    width: 2em;
    height: 2em;
  }
}
