$colour-primary: #ff6060;
$colour-secondary: #ffffff;
$colour-tertiary: #f6f6f6;

$minHeight: calc(100vh - 13em - 4.25em - 100px);

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
