@use "../../style/mixin.scss" as mixin;

.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 13em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
  padding-top: 2.5em;
  height: 13em;
  @include mixin.tablet {
    width: 30%;
    text-align: center;
    gap: 0;
  }
}
.logo {
  width: 5em;
  @include mixin.tablet {
    width: 7.625em;
    height: 2.5em;
    width: 100%;
  }
}
